@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

a {
  @apply text-teal-600 hover:text-teal-500 dark:text-teal-400 dark:hover:text-teal-300;
}
